<div class="flex flex-col rounded-lg dark:border-gray-600 overflow-hidden">

    <input id="autocomplete" class="text-sm md:text-base py-3 px-6 bg-white dark:bg-gray-800 text-gray-700 outline-none placeholder-gray-500 dark:placeholder-gray-400 focus:placeholder-transparent dark:focus:placeholder-transparent lg:flex-grow text-center" type="text" name="email" placeholder="Enter your address" aria-label="Enter your email">

    <%= form_with model: Lead.new do |form| %>
    <div class="hidden">
        <%= form.text_field :street_number %>
        <%= form.text_field :route %>
        <%= form.text_field :locality %>
        <%= form.text_field :administrative_area_level_1 %>
        <%= form.text_field :country %>
        <%= form.text_field :postal_code %>
    </div>
    <%= form.submit "Get Your Cash Offer", class: "text-sm md:text-base py-3 px-4 bg-blue-600 text-gray-100 text-sm font-medium tracking-wider md:uppercase hover:bg-blue-400 focus:bg-gray-600 focus:outline-none lg:flex-grow flex-initial w-full cursor-pointer" %>
    <% end %>
    
</div>

