<div class="max-w-full">

  <!-- Header -->
  <%= render 'header' %>

  <!-- Hero -->
  <%= render 'hero' %>

  <!-- How it works -->
  <%= render 'how_it_works' %>

  <%= render 'parallax1' %>

  <!-- About us -->
  <%= render 'about_us' %>

  <%= render 'parallax2' %>

  <!-- What Makes Us Different -->
  <%= render 'different' %>

  <%= render 'parallax3' %>

  <!-- FAQ -->
  <!-- <%= render 'faq' %> -->

  <!-- Testimonials -->
  <%= render 'testimonials' %>

  <!-- Contact -->
  <!-- <%= render 'contact' %> -->

  <!-- Footer -->
  <%= render 'footer' %>

</div>



