<div id="home-route" class="max-w-full">

  <!-- Header -->
  <%= render 'header' %>

  <!-- Landing Section -->
  <%= render 'landing' %>

  <!-- Stress Free Selling Section -->
  <%= render 'stress_free_selling' %>

  <!-- Parallax 1 -->
  <%= render 'parallax_1' %>

  <!-- About Us Section -->
  <%= render 'about_us' %>

  <!-- Parallax 2 -->
  <%= render 'parallax_2' %>

  <!-- What Makes Us Different -->
  <%= render 'what_makes_us_different' %>

  <!-- Parallax 3 -->
  <%= render 'parallax_3' %>

  <!-- Testimonials Section -->
  <%= render 'testimonials' %>

  <!-- Footer -->
  <%= render 'footer' %>

</div>



