<% provide(:title, "Welcome") %>
<div class="">

  <!-- Header -->
  <%= render 'header' %>

  <!-- Hero -->
  <%= render 'hero' %>

  <!-- How it works -->
  <%= render 'how_it_works' %>

  <!-- FAQ -->
  <%= render 'faq' %>

  <!-- Testimonials -->
  <%= render 'testimonials' %>

  <!-- Contact -->
  <%= render 'contact' %>

  <!-- Footer -->
  <%= render 'footer' %>

</div>



