<!-- Header -->
<%= render 'header' %>

<div id="home-buyer-route" class="max-w-full">

  <!-- Landing Section -->
  <%= render 'landing' %>

  <!-- We Can Help Section -->
  <%= render 'we_can_help' %>
  
  <!-- Parallax 1 -->
  <%= render 'parallax_1' %>

  <!-- How It Works Section -->
  <%= render 'how_it_works' %>

  <!-- Parallax 2 -->
  <%= render 'parallax_2' %>

  <!-- Testimonials Section -->
  <%= render 'testimonials' %>
  
  <!-- Parallax 3 -->
  <%= render 'parallax_3' %>
  
  <!-- About Us Section -->
  <%= render 'about_us' %>
  
  <!-- Parallax 4 -->
  <%= render 'parallax_4' %>

  <!-- What Makes Us Different -->
  <%= render 'what_makes_us_different' %>

</div>

<!-- Footer -->
<%= render 'footer' %>



